*.log
Alpha Version Ground/Library/*
Alpha Version Ground/Logs/*
Alpha Version Ground/Temp/*
*.log
*.log
*.log
Alpha Version Ground/Logs/AssetImportWorker0-prev.log
Alpha Version Ground/Logs/AssetImportWorker0.log
Alpha Version Ground/Logs/shadercompiler-AssetImportWorker0.log
Alpha Version Ground/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Alpha Version Ground/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Alpha Version Ground/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Alpha Version Ground/Logs/shadercompiler-UnityShaderCompiler.exe3.log
